<!DOCTYPE html>
<html>
    <head> 
        <!-- Browser Tab Information -->
        <title>CardzoneLTD Utilities - {{ title }}</title>
        <link rel="icon" href="../static/img/icon.jpg">

        <!-- Site Metadata -->
        <meta charset="UTF-8">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Stylesheet Links -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/main.min.css') }}">
    
        <!-- Imported Scripts -->
        <script src="https://kit.fontawesome.com/b48027f29e.js" crossorigin="anonymous"></script>
    </head>
    <body>
        {% if current_user.is_authenticated %}
            <header>
                <h1>Cardzone Web-App <span>({{ current_user.name }})</span></h1>
                <a href="{{ url_for('logout') }}">Logout</a>
                <a href="{{ url_for('home') }}">Home</a>
            </header>
        {% endif %}
        {% block content %}{% endblock %}
    </body>
</html>