{% extends ".master.html" %}
{% block content %}
    <div class="container">
        <div class="options">
            <a href="{{ url_for('main.home') }}">
                <i class="fas fa-file-signature"></i>
                <div>Orders</div>
            </a>
            <a href="{{ url_for('account.userManagement') }}">
                <i class="fas fa-file-invoice"></i>
                <div>Sales</div>
            </a>
            <a href="{{ url_for('account.userManagement') }}">
                <i class="fas fa-calendar-alt"></i>
                <div>Timesheets</div>
            </a>
            <a href="{{ url_for('account.userManagement') }}">
                <i class="fas fa-users"></i>
                <div>Users</div>
            </a>
        </div>
    </div>
{% endblock content %}