{% extends ".master.html" %}
{% block content %}
    <div class="container">
        <div class="options">
            <a href="{{ url_for('home') }}">
                <i class="fas fa-file-signature"></i>
                <div>Submit Order</div>
            </a>
            <a href="{{ url_for('home') }}">
                <i class="fas fa-history"></i>
                <div>Order History</div>
            </a>
            <a href="{{ url_for('displaySuppliers') }}">
                <i class="fas fa-truck"></i>
                <div>Suppliers</div>
            </a>
            <a href="{{ url_for('displayUsers') }}">
                <i class="fas fa-users"></i>
                <div>Users</div>
            </a>
        </div>
    </div>
{% endblock content %} 