{% extends ".master.html" %}
{% block content %}
    <form class="loginForm" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend>Cardzone Web-App</legend>
        <fieldset>
            <div>
                {{ form.userID(placeholder="UserID") }}
            </div>
            <div>
                {{ form.password(placeholder="Password") }}
            </div>
        </fieldset>
        <div class="remember">
            {{ form.remember }}
            {{ form.remember.label }}
        </div>
        <div>
            {{ form.submit(class="loginButton") }}
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    <footer>Developed by <a href="https://lewismackinnon.co.uk" target="blank">Lewis Mackinnon</a></footer>
{% endblock content %}