{% extends ".master.html" %}
{% block content %}
    <form class="userForm" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend>Cardzone Web</legend>
        <fieldset>
            {{ form.userID(placeholder="UserID") }}
            {{ form.password(placeholder="Password") }}
        </fieldset>

        <div class="remember">
            {{ form.remember }}
            {{ form.remember.label }}
        </div>

        {{ form.submit(class="submitButton") }}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="error">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </form>
    
    <footer>Developed by <a href="https://lewismackinnon.co.uk" target="blank">Lewis Mackinnon</a></footer>
{% endblock content %}