$color-list: (
    "company": #673144,
    "light": #F7F7F7,
    "dark": #333,
    "faded": #CCC,
);

@function c($color-name) { @return map-get($color-list, $color-name) };

* { box-sizing: border-box; }

html, body {
    background-color: c(company);
    cursor: default;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

.loginForm {
    background: c(light);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    legend {
        border-bottom: 1px solid c(dark);
        color: c(dark);
        font-size: 24px;
        padding-bottom: 5px;
        text-align: center;
    }

    fieldset {
        border: none;

        input {
            border: 1px solid c(faded);
            border-radius: 4px;
            box-sizing: border-box;
            display: inline-block;
            margin: 8px 0;
            outline: 0;
            padding: 12px 24px;
            text-align: center;
            width: 100%;
        }
    }

    .remember {
        color: c(dark);
        float: left;
        margin-top: 5px;
    }

    .loginButton {
        background-color: c(light);
        border: 1px solid c(dark);
        float: right;
        font-size: 14px;
        padding: 8px 24px;
        transition: all 0.3s;

        &:hover {
            background-color: c(dark);
            color: c(light);
            cursor: pointer;
        }
    }
}

footer {
    color: c(light);
    font-size: 14px;
    left: 50%;
    text-align: center;
    position: absolute;
    bottom: 1%;
    transform: translate(-50%, -50%);

    a {
        color: c(light);
        font-weight: bold;
        position: relative;
        text-decoration: none;
    }
}

header {
    background-color: c(light);
    color: c(dark);
    margin-bottom: 15px;
    overflow: hidden;

    h1 {
        float: left;
        font-size: 24px;
        font-weight: normal;
        padding: 5px 16px;
        text-align: center;

        span {
            font-size: 12px;
        }
    }

    a {
        background-color: c(light);
        border: 1px solid c(dark);
        color: c(dark);
        float: right;
        font-size: 14px;
        margin: 0 16px 0 0;
        padding: 8px 24px;
        transform: translateY(50%);
        text-decoration: none;
        transition: all 0.3s;

        &:hover {
            background-color: c(dark);
            color: c(light);
            cursor: pointer;
        }
    }
}

.container {
    background-color: c(light);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    width: 90%;

    .options {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: auto auto auto auto;
        padding: 10px;
    
        a {
            background-color: c(light);
            border: 1px solid c(faded);
            border-radius: 4px;
            color: c(dark);
            padding: 25%;
            text-align: center;
            text-decoration: none;
            transition: all 0.3s;
    
            &:hover {
                background-color: c(dark);
                color: c(light);
                cursor: pointer;
            }
    
            i {
                font-size: 36px;
            }
    
            div {
                margin-top: 10px;
            }
        }
    }
}