* { box-sizing: border-box; }

html, body {
    color: #333;
    cursor: default;
    height: 100%;
    margin: 0;
    overflow: hidden;
    scroll-behavior: smooth;
    user-select: none;
}

header {
    min-height: 100%; 
    position: relative;

    .container {
        font-size: 32px;
        font-weight: bold;
        left: 50%;
        line-height: 36px;
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);

        a {
            background-color: #333;
            border: 2px solid #333;
            color: #FFF;
            display: block;
            font-size: 15px;
            margin: 30px;
            padding: 10px 20px;
            text-decoration: none;
            transition: all 0.5s;
        }
    }

    footer {
        font-size: 14px;
        left: 50%;
        text-align: center;
        position: absolute;
        bottom: 1%;
        transform: translate(-50%, -50%);

        a {
            color: #333;
            font-weight: bold;
            position: relative;
            text-decoration: none;
        }
    }
}