{% extends ".master.html" %}
{% block content %}
    <form class="loginForm" method="POST" action="">
        {{ form.hidden_tag() }}
        <legend>Cardzone Web-App</legend>
        <fieldset>
            <div>
                {{ form.storeID(placeholder="StoreID/AdminID") }}
            </div>
            <div>
                {{ form.password(placeholder="Password") }}
            </div>
        </fieldset>
        <div class="remember">
            {{ form.remember() }}
            {{ form.remember.label() }}
        </div>
        <div>
            {{ form.submit(class="loginButton") }}
        </div>
    </form>
    <footer>Developed by <a href="https://lewismackinnon.co.uk" target="blank">Lewis Mackinnon</a></footer>
{% endblock content %}