{% extends ".master.html" %}
{% block content %}
<form class="userForm" method="POST" action="">
    {{ form.hidden_tag() }}
    <legend>Create User</legend>
    <fieldset>
        <div class="inputs">
            {{ form.name(class="required", placeholder="Full Name") }}
            {{ form.address(placeholder="Delivery Address") }}
            {{ form.email(placeholder="Email Address") }}
            {{ form.phone(placeholder="Phone No.") }}
            {{ form.password(class="required", placeholder="Password") }}
            {{ form.area(placeholder="Area Manager") }}
        </div>

        <div class="selects">
            {{ form.access() }}
        </div>
    </fieldset>
    <div>
        {{ form.submit(class="submitButton") }}
    </div>
</form>
{% endblock content %}